* {
  box-sizing: border-box; }

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

@font-face {
  font-family: 'boxicons';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/boxicons.eot");
  src: url("../fonts/boxicons.eot") format("embedded-opentype"), url("../fonts/boxicons.woff2") format("woff2"), url("../fonts/boxicons.woff") format("woff"), url("../fonts/boxicons.ttf") format("truetype"), url("../fonts/boxicons.svg?#boxicons") format("svg"); }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2px;
  margin-bottom: 50px;
  z-index: 999;
  background-color: white; }
  header #logo {
    height: 47px;
    width: 170px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px; }
  header .header-redes {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 10px;
    opacity: 40%; }

.flex-header {
  display: flex;
  justify-content: space-between; }

/*--------------------------------------------------------------
# index 1
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../images/green-desk.jpg") top center;
  background-size: cover;
  position: relative; }
  #hero #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  #hero .container {
    padding-top: 72px; }
  @media (max-width: 992px) {
    #hero #hero .container {
      padding-top: 62px; } }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif; }
  #hero h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px; }
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff; }
  #hero .btn-get-started:hover {
    background: black;
    border: 2px solid black; }
  @media (min-width: 1024px) {
    #hero #hero {
      background-attachment: fixed; } }
  @media (max-width: 768px) {
    #hero #hero {
      height: 100vh; }
    #hero #hero h1 {
      font-size: 28px;
      line-height: 36px; }
    #hero #hero h2 {
      font-size: 18px;
      line-height: 24px; } }

/*--------------------------------------------------------------
# Index 2
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #848484;
  border-radius: 4px;
  color: #fff; }
  .why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px; }
  .why-us .content p {
    margin-bottom: 30px; }
  .why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s; }
    .why-us .content .more-btn i {
      font-size: 14px; }
    .why-us .content .more-btn .more-btn:hover {
      color: #5fcf80;
      background: #fff; }

.why-us .icon-boxes .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  border: 1px solid #eef0ef; }
  .why-us .icon-boxes .icon-box i {
    font-size: 32px;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px; }
  .why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0; }
  .why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
p, h2, form, table, header, ul {
  font-family: 'Roboto' , sans-serif;
  color: #4f4f4f; }

h2 {
  font-family: 'Roboto' , sans-serif;
  color: black; }

p, h2, form, ul {
  margin-left: 20px;
  margin-right: 50px; }

ul {
  font-size: 20px;
  font-family: 'Roboto' , sans-serif;
  color: #848484;
  margin-left: 80px;
  margin-right: 50px; }
  ul li {
    font-size: 18px;
    margin-right: 5px;
    padding: 0px; }

h2 {
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 0px; }

/*--------------------------------------------------------------
# Nosotros
--------------------------------------------------------------*/
.nosotrosBackground {
  background: url("../images/estrategia-byw.jpg");
  background-size: cover;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  padding-left: 20px; }
  .nosotrosBackground .titulo, .nosotrosBackground #nuestrosServicios, .nosotrosBackground .grid-contacto .elementos #contactanos, .grid-contacto .elementos .nosotrosBackground #contactanos, .nosotrosBackground .grid-contacto #seguinos, .grid-contacto .nosotrosBackground #seguinos {
    font-family: "Poppins", sans-serif;
    color: #b2b2b2;
    font-size: 2.5rem; }
  .nosotrosBackground #nosotros {
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 0px; }
  .nosotrosBackground .parrafo, .nosotrosBackground #nosotrosParrafo {
    font-size: 18px;
    color: white; }

.grid-nosotros {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  text-align: center;
  background-color: #dcebbf;
  padding-top: 50px;
  margin-top: 20px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .grid-nosotros {
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-nosotros #nosotros-izquierda {
    grid-area: izquierda; }
  .grid-nosotros #nosotros-derecha {
    grid-area: derecha; }
  .grid-nosotros .directores {
    height: 200px;
    width: 200px;
    border-radius: 200%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px; }

/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/
#nuestrosServicios {
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 20px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .text-light-p {
    display: none; } }

/*--------------------------------------------------------------
# Formulario
--------------------------------------------------------------*/
.grid-contacto {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  margin-top: 100px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .grid-contacto {
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-contacto #izquierda {
    grid-area: izquierda; }
  .grid-contacto #derecha {
    grid-area: derecha; }
  .grid-contacto .elementos {
    margin: 10px; }
    .grid-contacto .elementos #contactanos {
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 50px;
      margin-left: 20px;
      font-size: 2rem; }
  .grid-contacto form .formulario {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 0px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid #848484;
    position: relative; }
    .grid-contacto form .formulario #comentario {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 30px;
      padding: 0px;
      height: 50px;
      width: 300px;
      font-size: 20px;
      border: 1px solid #848484;
      font-family: 'Roboto'; }
  .grid-contacto #seguinos {
    margin-top: 0%;
    padding-top: 0px;
    margin-left: 5px;
    font-size: 2rem; }
  .grid-contacto .flex-redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    align-items: center;
    margin-right: 100px; }
    .grid-contacto .flex-redes .redes {
      height: 90px;
      width: 100px;
      margin-top: 30px;
      margin-left: 90px;
      padding: 0px; }
    .grid-contacto .flex-redes .flex-mail {
      display: flex;
      flex-direction: row;
      margin-top: 0px; }
      .grid-contacto .flex-redes .flex-mail #mailLogo {
        height: 90px;
        width: 100px;
        margin-top: 30px;
        margin-left: 90px;
        margin-right: 0px;
        padding-right: 0px; }
      .grid-contacto .flex-redes .flex-mail #email {
        margin-top: 50px;
        margin-left: 0px;
        font-size: 20px;
        padding-left: 0px; }
  .grid-contacto .boton:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: 300ms;
    filter: invert(70%); }
  @media (max-width: 768px) {
    .grid-contacto .container-md {
      display: none; } }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer .footer-grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  grid-template-areas: "izquierda centro derecha"; }
  footer .footer-grid #ft-izquierda {
    grid-area: izquierda; }
  footer .footer-grid #ft-centro {
    grid-area: centro; }
  footer .footer-grid #ft-derecha {
    grid-area: derecha; }
  footer .footer-grid #footerLogo {
    height: 50px;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 2.5rem;
    filter: invert(70%); }
  footer .footer-grid p, footer .footer-grid h3 {
    font-size: 15px; }
  footer .footer-grid h3 {
    margin-left: 30px;
    text-decoration: underline;
    margin-top: 0px; }
  footer .footer-grid .ft-grid-1 {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 7% 93%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    grid-template-areas: "tel num" "sobre mail" "flecha ciudad"; }
    footer .footer-grid .ft-grid-1 #tel-icono {
      grid-area: tel; }
    footer .footer-grid .ft-grid-1 #tel-enlace {
      grid-area: num; }
    footer .footer-grid .ft-grid-1 #mail-icono {
      grid-area: sobre; }
    footer .footer-grid .ft-grid-1 #mail-enlace {
      grid-area: mail; }
    footer .footer-grid .ft-grid-1 #map-icono {
      grid-area: flecha; }
    footer .footer-grid .ft-grid-1 #map-enlace {
      grid-area: ciudad; }
  footer .footer-grid .ft-grid-2 {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 7% 93%;
    margin-top: 0px;
    margin-left: 60px;
    padding: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    grid-template-areas: "ig iglink" "fb fblink" "tw twlink" "lin linlink"; }
    footer .footer-grid .ft-grid-2 #insta-icono {
      grid-area: ig; }
    footer .footer-grid .ft-grid-2 #insta-enlace {
      grid-area: iglink; }
    footer .footer-grid .ft-grid-2 #fb-icono {
      grid-area: fb; }
    footer .footer-grid .ft-grid-2 #fb-enlace {
      grid-area: fblink; }
    footer .footer-grid .ft-grid-2 #tw-icono {
      grid-area: tw; }
    footer .footer-grid .ft-grid-2 #tw-enlace {
      grid-area: twlink; }
    footer .footer-grid .ft-grid-2 #lin-icono {
      grid-area: lin; }
    footer .footer-grid .ft-grid-2 #lin-enlace {
      grid-area: linlink; }
  footer .footer-grid .ft-redes {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px; }
  footer .footer-grid .ft-enlaces {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px; }
  footer .footer-grid .ft-redes-1 {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px; }
  footer .footer-grid .ft-enlaces-1 {
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px; }

footer #derechos {
  background-color: #dcebbf;
  padding: 0px; }
  footer #derechos #derechosP {
    text-align: center;
    font-size: 13px; }

/*p{
   position: absolute;
  }*/
/*Paleta de colores
verde fuete: #6ab14b; verde opaco: #6f9c53; verde claro: #dcebbf; negro: #000000; gris fuerte: #848484; gris claro: #b2b2b2; */
