* {
  box-sizing: border-box; }

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

@font-face {
  font-family: 'boxicons';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/boxicons.eot");
  src: url("../fonts/boxicons.eot") format("embedded-opentype"), url("../fonts/boxicons.woff2") format("woff2"), url("../fonts/boxicons.woff") format("woff"), url("../fonts/boxicons.ttf") format("truetype"), url("../fonts/boxicons.svg?#boxicons") format("svg"); }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 999;
  background-color: white; }
  header ul {
    font-family: 'Montserrat', sans-serif; }
  header #logo {
    height: 57px;
    width: 220px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-content: center; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      header #logo {
        align-items: center; } }
  header .header-redes {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px; }
    header .header-redes .header-redes:hover {
      transform: scale(1.1);
      transform-origin: center;
      transition: 300ms; }

.flex-header {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .flex-header {
      display: block; } }

@media screen and (min-width: 250px) and (max-width: 992px) {
  #nav-responsive {
    text-align: center; } }

#instagram {
  margin-left: 25px; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    #instagram {
      margin-left: 0px; } }

@media screen and (min-width: 250px) and (max-width: 992px) {
  #linkedin {
    margin-bottom: 20px; } }

/*--------------------------------------------------------------
# index 1
--------------------------------------------------------------*/
.inicio {
  margin-top: 50px; }

.carousel .carousel-inner {
  /*height: 75vh;*/ }
  .carousel .carousel-inner .carousel-item img {
    position: relative;
    width: 100%;
    height: 600px; }

.carousel-frase {
  z-index: 10;
  position: absolute;
  width: 50%;
  right: 15%;
  bottom: 20px;
  left: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  margin-bottom: 200px;
  align-items: left; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .carousel-frase {
      width: 65%; } }
  @media screen and (min-width: 250px) and (max-width: 576px) {
    .carousel-frase {
      width: 100%;
      align-items: center; } }
  .carousel-frase p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-left: 0px;
    padding-right: 30px;
    margin-right: 0px;
    padding-left: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 0px;
    font-weight: 400;
    background-color: white;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 0px;
    text-align: left;
    margin-bottom: 0px; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .carousel-frase p {
        padding-left: 10px;
        padding-right: 0px; } }

section {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 50px;
  margin-top: 50px; }

.gridIndex {
  display: grid;
  grid-gap: 0px;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 50px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .gridIndex {
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .gridIndex #indexIzquierda {
    grid-area: izquierda; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .gridIndex #indexIzquierda {
        margin-left: 0px;
        margin-right: 0px; } }
  .gridIndex #indexDerecha {
    grid-area: derecha;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 100px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .gridIndex #indexDerecha {
        margin-left: 10px;
        margin-right: 10px; } }
  .gridIndex #manosPlanta {
    height: auto;
    width: 80%;
    margin-left: 100px;
    margin-bottom: 0px;
    position: relative; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .gridIndex #manosPlanta {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .parrafoResponsive {
    display: none; } }

#creamos {
  margin-left: 100px;
  margin-top: 0px;
  width: 40%; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    #creamos {
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px; } }

.nuestrosServicios1 {
  background-color: #6f9c53;
  padding: 5px;
  margin-top: 50px;
  text-align: center; }
  .nuestrosServicios1 #nuestrosServicios2 {
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem; }

.gridIndexServicios {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 25% 25% 25%;
  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  justify-content: space-around;
  grid-template-areas: "izquierda centro derecha"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .gridIndexServicios {
      margin-bottom: 60px;
      text-align: center;
      grid-template-areas: "izquierda izquierda izquierda" "centro centro centro" "derecha derecha derecha"; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .gridIndexServicios {
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px; } }
  .gridIndexServicios .gridIndexServiciosIzquierda {
    grid-area: izquierda; }
  .gridIndexServicios .gridIndexServiciosCentro {
    grid-area: centro; }
  .gridIndexServicios .gridIndexServiciosDerecha {
    grid-area: derecha; }
  .gridIndexServicios .imagenesIndexServicios {
    height: 80px;
    width: 80px;
    margin-bottom: 10px; }
  .gridIndexServicios .tituloIndexServicios {
    font-size: 1.3rem;
    margin-top: 10px; }
  .gridIndexServicios .parrafoIndexServicios {
    font-size: 1rem;
    margin-top: 10px; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
p, h2, form, table, header, ul {
  font-family: 'Roboto' , sans-serif;
  color: #4f4f4f; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 25px; }

ul {
  font-size: 20px;
  font-family: 'Roboto' , sans-serif;
  color: #848484; }
  ul li {
    font-size: 18px; }

/*--------------------------------------------------------------
# Nosotros
--------------------------------------------------------------*/
.nosotros-background {
  background: url("../images/windmill-2.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-bottom: 0px; }

.nosotros-content {
  padding-top: 5px; }
  .nosotros-content #nosotros {
    margin-bottom: 40px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 100px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .nosotros-content #nosotros {
        margin-left: 10px;
        margin-right: 0px; } }
    .nosotros-content #nosotros h1 {
      font-family: 'Roboto', sans-serif; }
  .nosotros-content .grid-parrafo {
    display: grid;
    grid-gap: 6%;
    grid-template-columns: 47% 47%;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-areas: "izquierda  derecha"; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .nosotros-content .grid-parrafo {
        grid-gap: 0%;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
    .nosotros-content .grid-parrafo #p-izquierda {
      grid-area: izquierda; }
      .nosotros-content .grid-parrafo #p-izquierda p {
        font-size: 1rem;
        color: black;
        font-family: 'Montserrat', sans-serif; }
    .nosotros-content .grid-parrafo #p-derecha {
      grid-area: derecha; }
      .nosotros-content .grid-parrafo #p-derecha p {
        font-size: 1rem;
        color: black;
        font-family: 'Montserrat', sans-serif; }
      .nosotros-content .grid-parrafo #p-derecha .trabajamos {
        font-size: 20px;
        color: #6f9c53;
        font-weight: 600; }

.grid-nosotros {
  display: grid;
  grid-gap: 6%;
  grid-template-columns: 44% 38%;
  justify-content: space-around;
  text-align: center;
  margin-right: 11%;
  margin-left: 11%;
  margin-top: 70px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .grid-nosotros {
      grid-gap: 3%;
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-nosotros #nosotros-izquierda {
    grid-area: izquierda; }
    .grid-nosotros #nosotros-izquierda h2 {
      font-size: 25px;
      color: black; }
    .grid-nosotros #nosotros-izquierda h3 {
      font-size: 1.2rem;
      margin-left: 20px; }
    .grid-nosotros #nosotros-izquierda p {
      font-size: 1rem;
      margin-left: 30px;
      margin-right: 30px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        .grid-nosotros #nosotros-izquierda p {
          margin-left: 0px;
          margin-right: 0px; } }
  .grid-nosotros #nosotros-derecha {
    grid-area: derecha; }
    .grid-nosotros #nosotros-derecha h2 {
      font-size: 25px; }
    .grid-nosotros #nosotros-derecha h3 {
      font-size: 1.2rem;
      margin-left: 10px; }
    .grid-nosotros #nosotros-derecha p {
      font-size: 1rem; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        .grid-nosotros #nosotros-derecha p {
          margin-bottom: 50px; } }
  .grid-nosotros .directores {
    height: 200px;
    width: 200px;
    border-radius: 200%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px; }

/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/
.servicios-background {
  background: url(../images/white-desk.png);
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  align-content: center; }

.gridIndexServicios1 {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 25% 25% 25%;
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40px;
  text-align: center;
  justify-content: space-around;
  grid-template-areas: "izquierda centro derecha"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .gridIndexServicios1 {
      text-align: center;
      grid-template-areas: "izquierda izquierda izquierda" "centro centro centro" "derecha derecha derecha"; } }
  .gridIndexServicios1 .gridIndexServiciosIzquierda1 {
    grid-area: izquierda; }
  .gridIndexServicios1 .gridIndexServiciosCentro1 {
    grid-area: centro; }
  .gridIndexServicios1 .gridIndexServiciosDerecha1 {
    grid-area: derecha; }
  .gridIndexServicios1 .imagenesIndexServicios1 {
    height: 80px;
    width: 80px;
    margin-top: 35px;
    margin-bottom: 1rem; }
  .gridIndexServicios1 .imagenesIndexServicios2 {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 1rem; }
  .gridIndexServicios1 .tituloIndexServicios1 {
    font-size: 1.3rem;
    margin-top: 1rem; }

#seccionEstrategia {
  position: relative; }
  #seccionEstrategia #estrategiaYGestion {
    padding: 10px;
    font-size: 25px;
    margin-top: 50px;
    padding-left: 145px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    background-color: #848484;
    margin-bottom: 1rem; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      #seccionEstrategia #estrategiaYGestion {
        text-align: center;
        padding-left: 0px; } }
  #seccionEstrategia .grid-estrategia {
    display: grid;
    grid-gap: 0px;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0px;
    grid-template-areas: "izquierda derecha"; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      #seccionEstrategia .grid-estrategia {
        grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
    #seccionEstrategia .grid-estrategia #grid-estrategia-izquierda {
      grid-area: izquierda;
      margin-left: 100px;
      margin-bottom: 20px;
      margin-top: 20px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        #seccionEstrategia .grid-estrategia #grid-estrategia-izquierda {
          margin-left: 0px;
          margin-right: 0px; } }
    #seccionEstrategia .grid-estrategia #grid-estrategia-derecha {
      grid-area: derecha;
      margin-right: 100px;
      margin-top: 20px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        #seccionEstrategia .grid-estrategia #grid-estrategia-derecha {
          margin-left: 10px;
          margin-right: 10px; } }
      #seccionEstrategia .grid-estrategia #grid-estrategia-derecha ul {
        margin-left: 0px; }
        #seccionEstrategia .grid-estrategia #grid-estrategia-derecha ul li {
          font-size: 1rem; }

#seccionCapacitaciones {
  position: relative; }
  #seccionCapacitaciones #capacitaciones {
    font-size: 25px;
    margin-top: 55px;
    padding: 10px;
    padding-right: 355px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-weight: 300;
    background-color: #848484;
    margin-bottom: 1rem;
    text-align: right;
    position: relative; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      #seccionCapacitaciones #capacitaciones {
        padding-right: 0px;
        text-align: center; } }
  #seccionCapacitaciones .grid-capacitaciones {
    display: grid;
    grid-gap: 0px;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-top: 0px;
    margin: 0px;
    grid-template-areas: "izquierda derecha"; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      #seccionCapacitaciones .grid-capacitaciones {
        align-content: center;
        grid-template-areas: "derecha derecha" "izquierda izquierda"; } }
    #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-izquierda {
      grid-area: izquierda;
      margin-left: 100px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-izquierda {
          margin-right: 10px;
          margin-left: 10px; } }
      #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-izquierda ul {
        margin-left: 0px; }
        #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-izquierda ul li {
          font-size: 1rem; }
    #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-derecha {
      grid-area: derecha;
      margin-right: 100px;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 50px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-derecha {
          margin-left: 0px;
          margin-right: 0px; } }
      #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-derecha #ilus-capacitaciones {
        margin-left: 50px; }
        @media screen and (min-width: 250px) and (max-width: 992px) {
          #seccionCapacitaciones .grid-capacitaciones #grid-capacitaciones-derecha #ilus-capacitaciones {
            margin-left: 0px; } }

#seccionComunicacion #comunicacionDeImpacto {
  padding: 10px;
  font-size: 25px;
  margin-top: 55px;
  padding-left: 140px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #848484;
  padding-bottom: 1rem; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    #seccionComunicacion #comunicacionDeImpacto {
      padding-left: 0px;
      text-align: center; } }

#seccionComunicacion .grid-comunicacion {
  display: grid;
  grid-gap: 0px;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 0px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    #seccionComunicacion .grid-comunicacion {
      align-content: center;
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  #seccionComunicacion .grid-comunicacion #grid-comunicacion-izquierda {
    grid-area: izquierda;
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: 20px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      #seccionComunicacion .grid-comunicacion #grid-comunicacion-izquierda {
        margin-left: 0px;
        margin-right: 0px;
        align-content: center; } }
    #seccionComunicacion .grid-comunicacion #grid-comunicacion-izquierda #hashtagg {
      height: auto;
      width: 50%;
      position: relative; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        #seccionComunicacion .grid-comunicacion #grid-comunicacion-izquierda #hashtagg {
          width: 100%; } }
  #seccionComunicacion .grid-comunicacion #grid-comunicacion-derecha {
    grid-area: derecha;
    margin-right: 100px;
    margin-top: 20px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      #seccionComunicacion .grid-comunicacion #grid-comunicacion-derecha {
        margin-left: 10px;
        margin-right: 10px; } }
    #seccionComunicacion .grid-comunicacion #grid-comunicacion-derecha ul {
      margin-left: 0px; }
      #seccionComunicacion .grid-comunicacion #grid-comunicacion-derecha ul li {
        font-size: 1rem; }

.fotos-servicios {
  height: auto;
  width: 65%;
  position: relative; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .fotos-servicios {
      width: 100%; } }

.consultanos {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  margin-right: 545px;
  margin-left: 100px;
  margin-top: 20px;
  padding-bottom: 1rem; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .consultanos {
      margin-right: 250px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .consultanos {
      text-align: left;
      margin-left: 10px; } }
  .consultanos button {
    background-color: #dcebbf; }
  .consultanos button:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: 300ms; }

.consultanos2 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  margin-top: 0px;
  padding-bottom: 1rem; }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    .consultanos2 {
      text-align: left;
      margin-left: 10px; } }
  .consultanos2 button {
    background-color: #dcebbf; }
  .consultanos2 button:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: 300ms; }

/*--------------------------------------------------------------
# Formulario
--------------------------------------------------------------*/
.grid-contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  grid-gap: 0px;
  margin-left: 0px;
  margin-top: 80px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .grid-contacto {
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-contacto #izquierda {
    grid-area: izquierda;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-contacto #izquierda {
        margin-left: 10px; } }
    .grid-contacto #izquierda #hablemos {
      font-family: 'Montserrat', sans-serif;
      color: black;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 30px; }
    .grid-contacto #izquierda .titulo-contacto-izquierda {
      font-size: 1rem;
      font-weight: 600; }
  .grid-contacto #derecha {
    grid-area: derecha;
    padding: 20px; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-contacto #derecha {
        margin-left: 0px; } }
  .grid-contacto .elementos {
    margin: 10px; }
  .grid-contacto form .formulario {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 0px;
    height: auto;
    width: 300px;
    font-size: 17px;
    position: relative; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .grid-contacto form .formulario {
        margin-right: 10px;
        width: auto; } }
  .grid-contacto form .label {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 5px;
    color: #363232; }
    .grid-contacto form .label p {
      margin-left: 5px; }
  .grid-contacto form #comentario {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 0px;
    height: 50px;
    width: 300px;
    font-size: 17px;
    border: 1px solid #848484;
    font-family: 'Roboto'; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .grid-contacto form #comentario {
        width: auto;
        height: auto;
        margin-right: 10px;
        font-size: 18px; } }
  .grid-contacto form .flexOpcional {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 27px; }
  .grid-contacto form .boton {
    font-family: 'Montserrat', sans-serif; }
  .grid-contacto form .boton:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: 300ms;
    filter: invert(100%); }
  .grid-contacto .gridContactoIcons {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 7% 93%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-items: center;
    grid-template-areas: "tel num" "sobre mail" "flecha ciudad"; }
    .grid-contacto .gridContactoIcons #tel-icono-contacto {
      grid-area: tel; }
    .grid-contacto .gridContactoIcons #tel-enlace-contacto {
      grid-area: num;
      margin-top: 20px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        .grid-contacto .gridContactoIcons #tel-enlace-contacto {
          margin-left: 20px; } }
    .grid-contacto .gridContactoIcons #mail-icono-contacto {
      grid-area: sobre; }
    .grid-contacto .gridContactoIcons #mail-enlace-contacto {
      grid-area: mail;
      margin-top: 20px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        .grid-contacto .gridContactoIcons #mail-enlace-contacto {
          margin-left: 20px; } }
    .grid-contacto .gridContactoIcons #map-icono-contacto {
      grid-area: flecha; }
    .grid-contacto .gridContactoIcons #map-enlace-contacto {
      grid-area: ciudad;
      margin-top: 20px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        .grid-contacto .gridContactoIcons #map-enlace-contacto {
          margin-left: 20px; } }
    .grid-contacto .gridContactoIcons p {
      font-size: 1rem;
      margin-top: 10px; }
  .grid-contacto .flexRedesContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: left;
    margin: 0px; }
    .grid-contacto .flexRedesContacto .redesContacto {
      margin-left: 0px;
      margin-right: 30px;
      margin-top: 30px;
      padding-bottom: 20px; }
      @media screen and (min-width: 250px) and (max-width: 576px) {
        .grid-contacto .flexRedesContacto .redesContacto {
          margin-right: 15px; } }
    .grid-contacto .flexRedesContacto .redesContacto:hover {
      transform: scale(1.1);
      transform-origin: center;
      transition: 300ms; }
  @media (max-width: 768px) {
    .grid-contacto .container-md {
      display: none; } }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  padding: 0px;
  background-color: #4a6937;
  margin-top: 0px; }
  footer .footer-grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    line-height: 0.5rem;
    grid-template-areas: "izquierda centro derecha"; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      footer .footer-grid {
        justify-content: space-between; } }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      footer .footer-grid {
        width: 100%;
        grid-template-areas: "izquierda izquierda" "centro centro" "derecha derecha"; } }
    footer .footer-grid #ft-izquierda {
      grid-area: izquierda; }
    footer .footer-grid #ft-centro {
      grid-area: centro; }
    footer .footer-grid #ft-derecha {
      grid-area: derecha;
      margin-left: 30px; }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        footer .footer-grid #ft-derecha {
          margin-left: 0px; } }
    footer .footer-grid #footerLogo {
      height: 50px;
      width: 200px;
      margin-left: 30px;
      margin-bottom: 30px;
      margin-top: 1rem;
      filter: invert(100%); }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        footer .footer-grid #footerLogo {
          margin-left: 0px; } }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        footer .footer-grid #footerLogo {
          display: none; } }
    footer .footer-grid p {
      font-size: 13px; }
    footer .footer-grid h3 {
      margin-left: 25px;
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 10px;
      font-size: 15px; }
    footer .footer-grid .ft-grid-1 {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 7% 93%;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      grid-template-areas: "tel num" "sobre mail" "flecha ciudad"; }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        footer .footer-grid .ft-grid-1 {
          width: 100%; } }
      footer .footer-grid .ft-grid-1 #tel-icono {
        grid-area: tel; }
      footer .footer-grid .ft-grid-1 #tel-enlace {
        grid-area: num; }
      footer .footer-grid .ft-grid-1 #mail-icono {
        grid-area: sobre; }
      footer .footer-grid .ft-grid-1 #mail-enlace {
        grid-area: mail; }
      footer .footer-grid .ft-grid-1 #map-icono {
        grid-area: flecha; }
      footer .footer-grid .ft-grid-1 #map-enlace {
        grid-area: ciudad; }
        @media screen and (min-width: 250px) and (max-width: 992px) {
          footer .footer-grid .ft-grid-1 #map-enlace {
            line-height: 20px;
            margin-top: -3px; } }
        @media screen and (min-width: 250px) and (max-width: 768px) {
          footer .footer-grid .ft-grid-1 #map-enlace {
            line-height: 20px;
            margin-bottom: 10px; } }
    footer .footer-grid .ft-grid-2 {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 7% 93%;
      margin-top: 0px;
      margin-left: 10px;
      padding: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      grid-template-areas: "ig iglink" "fb fblink" "tw twlink" "lin linlink"; }
      footer .footer-grid .ft-grid-2 #insta-icono {
        grid-area: ig; }
      footer .footer-grid .ft-grid-2 #insta-enlace {
        grid-area: iglink; }
      footer .footer-grid .ft-grid-2 #fb-icono {
        grid-area: fb; }
      footer .footer-grid .ft-grid-2 #fb-enlace {
        grid-area: fblink; }
      footer .footer-grid .ft-grid-2 #tw-icono {
        grid-area: tw; }
      footer .footer-grid .ft-grid-2 #tw-enlace {
        grid-area: twlink; }
      footer .footer-grid .ft-grid-2 #lin-icono {
        grid-area: lin; }
      footer .footer-grid .ft-grid-2 #lin-enlace {
        grid-area: linlink; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        footer .footer-grid .ft-grid-2 {
          margin-left: 0px; } }
    footer .footer-grid .ft-redes {
      margin-left: 0px;
      padding-right: 0px;
      margin-right: 0px; }
    footer .footer-grid .ft-enlaces {
      padding-right: 0px;
      margin-right: 0px;
      padding-left: 0px;
      margin-left: 0px;
      margin-top: 3px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        footer .footer-grid .ft-enlaces {
          margin-left: 10px; } }
    footer .footer-grid .ft-redes-1 {
      margin-left: 0px;
      padding-right: 0px;
      margin-right: 0px; }
    footer .footer-grid .ft-enlaces-1 {
      padding-left: 0px;
      margin-right: 0px;
      margin-left: 0px;
      padding-right: 0px;
      margin-top: 3px; }
      @media screen and (min-width: 250px) and (max-width: 992px) {
        footer .footer-grid .ft-enlaces-1 {
          margin-left: 10px; } }
  footer #derechos {
    background-color: #b2b2b2;
    padding: 15px; }
    footer #derechos #derechosP {
      text-align: center;
      font-size: 11px;
      margin-bottom: 0px; }

/*p{
   position: absolute;
  }*/
/*Paleta de colores
verde fuete: #6ab14b; verde opaco: #6f9c53; verde claro: #dcebbf; negro: #000000; gris fuerte: #848484; gris claro: #b2b2b2; */
